#console {
  max-height: 50px;
  overflow-wrap: normal;
  overflow-y: scroll;
}


/* .toggle-checked:not(:checked) ~ .toggle-target {
  display: none;
}
.toggle-checked:checked ~ .toggle-target {
  display: block;
}

.toggle-unchecked:not(:checked) ~ .toggle-target {
  display: block;
}
.toggle-unchecked:checked ~ .toggle-target {
  display: none;
} */

.ct {
  top: 25%;
  left: 25%;
  z-index: 9999;
}

.hide {
  display: none;
}

.show {
  display: flex;
}